@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: #F8FAFC;
    color: #020617;
  }

  ::selection {
    background: #BFDBFE;
    color: #0F172A;
  }
}

@layer utilities {
  .font-jakarta {
    font-family: var(--font-jakarta);
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 99px;
  }
}
